* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

header, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    background-color: rgb(15, 5, 150);
    color: rgb(247, 162, 6);
    flex: 1;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    padding: 10px 40px;
    background-color: rgb(247, 162, 6);
    flex: 1;
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;
    min-height: 240px;
    max-width: 640px;
    border: 5px solid black; 
    flex: 1;
}

.display {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: space-around;
    background-color: grey;
    padding: 10px;
    border-bottom: 1px solid black;
}

#screen {
    background-color: rgb(144, 211, 144);
    min-height: 48px;
    min-width: 360px;
    flex: 1;
    border: 2px solid black;
    font-size: 40px;
    color: rgb(58, 82, 58);
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 10px;
    overflow: hidden;
}

.buttons {
    display: flex;
    flex: 2;
    justify-content: stretch;
    align-items: stretch;
}

.row div {
    border: solid black 1px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.numbers .row div {
    background-color: rgb(223, 209, 209);
}

.numbers .row div:hover {
    background-color: rgb(201, 187, 187);
}

.numbers .row .clicked {
    background-color: rgb(167, 154, 154) !important;
}

.operators .row .clicked {
    background-color: rgb(102, 101, 101) !important;
}

.operators .row div {
    background-color: rgb(165, 164, 164);
    font-weight: 700;
}

.operators .row div:hover {
    background-color: rgb(133, 132, 132);
}

.row {
    padding: 5px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    flex: 1;
}

.numbers {
    display: flex;
    background-color: rgb(99, 74, 74);
    flex: 1;
    gap: 5px;
    justify-content: stretch;
    align-items: stretch;
    border-right: 1px solid black;
}

.operators {
    display: flex;
    background-color: rgb(170, 184, 196);
    flex: 1;
    gap: 5px;
    justify-content: stretch;
    align-items: stretch;
}

a {
    color: rgb(247, 162, 6);
}